# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Build
bin/
obj/

# Test Results
TestResults/

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Publish
publish/

# NuGet
packages/