.active-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

    .active-checkbox input {
        width: auto;
        margin: 0;
    }

.gallery-preview {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}
